services:
  mongo:
    image: mongo:latest
    container_name: financa_mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=secret

  app:
    build: .
    container_name: financa_app
    restart: always
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://admin:secret@mongo:27017/

volumes:
  mongo_data: